<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >CS Requirement Finder</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="https://oh-junhee0123.github.io/About.github.io/" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="CSMS.html" onclick = $("#menu-close").click(); >CSMS</a>
    </li>
    <li>
      <a href="SUMS.html" onclick = $("#menu-close").click(); >SUMS</a>
    </li>
    <li>
      <a href="Self_Checklist_Guide.html" onclick = $("#menu-close").click(); >Self-Checklist Guidet</a>
    </li>
  </ul>
</nav>
